# Ignore node_modules in both client and server
/client/node_modules/
/server/node_modules/

# Ignore any build output or temporary files
/dist
/build
/.next
/out
/public

# Log files
*.log

# dotenv environment variable files
#.env

# IDE and editor files
.vscode/
.idea/
*.swp

# Docker files
.docker/
docker-compose.override.yml

# Testing files
/coverage
/jest

# OS-specific files
.DS_Store
Thumbs.db

# Miscellaneous temporary files
*.bak
*.tmp
